
.transp{
    background-color:ghostwhite; 
}

.refcontent
{
    margin-top: 35px;
}

.cardper .card-header
{
    height: 610px;
}

.cardper:hover
{
    background-color: aliceblue;
}
.nav-item
{
    background-color: rgb(243, 243, 243);
    border: solid 1px rgb(243, 243, 243);
    margin: 3px;
    border-radius: 3px;
}

.nav-item:hover
{
    background-color: rgb(234, 239, 241);
}

.card-text
{
    text-align: justify;

}

footer
{
    background: #222;
    padding: 30px;
    text-align: justify;
}

.card:hover
{
    background-color: aliceblue;
}


